{{define "content"}}
<section>
    <h2>Nuestros Productos</h2>
    
    <div class="product-list">
        {{if .Products}}
            {{range .Products}}
                <article class="product">
                    <h3>{{.Name}}</h3>
                    <p>{{.Description}}</p>
                    <dl>
                        <dt>Precio:</dt>
                        <dd>${{printf "%.2f" .Price}}</dd>
                        <dt>Stock:</dt>
                        <dd>{{.Stock}} unidades</dd>
                    </dl>
                    <a href="/order?productName={{.Name}}">Crear Pedido</a>
                </article>
            {{end}}
        {{else}}
            <p>No hay productos disponibles</p>
        {{end}}
    </div>
</section>
{{end}}